.bg-slate {
    background-color: #2b2e32;
}

.btn-slate {
    background-color: #2b2e32;
    color: white;
}

a:hover {
    color: #b1cad0;
    text-decoration: none;
}

.btn:hover {
    color: #b1cad0;
    text-decoration: none;
}



#about-me {
    font-size: 16px;
    padding: 30px;
    color: white;
}

#headshot {
    background-image: url("../images/headshot.jpg");
    width: 100%;
    max-width: 290px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    min-height: 268px;
}

#contact {
    font-size: 24px;
    text-align: right;
    color: white;
    min-height: 268px;
}

a {
    color: white;
}

.image-shadow {
    box-shadow: 1px 4px 5px 2px #777777;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.project-desc {
    padding: 30px 30px 0px 30px;
    font-size: 18px;
    line-height: 36px;
}

.about-me {
    padding: 30px;
    font-size: 18px;
    line-height: 36px;
}
